body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
a { 
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  width: 1200px;
}

/* Main contant section */
.main-contant-section {
  padding: 100px 90px;
}

.main-contant-title {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.my-education-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
/* About me section */

.about-me-section {
  margin-bottom: 40px;
  margin-right: 200px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.my-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 25px;
}
.about-me-description {
  width: 410px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 45px;
}

/* My projects section */

.my-projects-section {
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 22px;
}
.my-projects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.my-projects-text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 9px;
}
.my-projects-link {
  padding: 5px;
  color: #595959;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.my-projects-link:hover,
.my-projects-link:focus {
  background-color: #909090;
  color: whitesmoke;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms;
}
.lorem{
  margin-left: 1px;
}
.my-projects-bracket {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

/* My work experience */

.my-work-experience-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 6px 0;
}
.my-work-experience-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.my-work-experience-date {
  color: #a8a8a8;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 10px 0;
}
.my-work-experience-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-right: 150px;
}
.my-work-experience-company-block {
  margin: 0 0 15px 0;
}
/* My education */

.my-education {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 10px;
}

.my-education-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  padding-bottom: 10px;
}

.my-education-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 10px;
}

/* Sidebar section */

.sidebar-section {
  background: #1e2939;
  color: #fff;
  border: 340px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*
.contacts-section,
.sidebar-section,
*/
.tech-skills-section {
  margin: 45px 0 0 40px;
}

.contacts-section {
  padding-top: 50px;
  padding-bottom: 8px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
  margin-left: 40px;
}
.contacts-section-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
  margin-left: 40px;
}
.contacts-section-typ {
  padding: 5px;;
  color: #b2b2b2;
  background-color: transparent;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.contacts-section-typ:hover,
.contacts-section-typ:focus {
  background-color: #909090;
  color: whitesmoke;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms;
}
.contacts-section-lnk {
  padding: 5px;;
  color: #b2b2b2;
  background-color: transparent;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.contacts-section-lnk:hover,
.contacts-section-lnk:focus {
  background-color: #909090;
  color: whitesmoke;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms;
}

.tech-skills-list {
  padding: 0 0 0 17px;
  margin-left: 10px;
  padding-bottom: 40px;
}
.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.soft-skills-list {
  padding: 0 0 0 17px;
  margin-left: 10px;
  margin-top: 10px;
}
.soft-skills-item {
  color: #fb6d3a;
}
.soft-item-text {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.about-me-contact {
  width: 410px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 45px;
}
